<div class="container">
    <h1 class="mt-5 mb-3 text-center">Book Management</h1>
    <h3 class="mt-5 mb-3">Create new book</h3>
    <form>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Book ID: </label>
                <input class="form-control" type="text" placeholder="Book Id" #bookId>
            </div>

            <div class="col">
                <label class="form-label">Book Title: </label>
                <input class="form-control" type="text" placeholder="Book Title" #bookTitle>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Book Author: </label>
                <input class="form-control" type="text" placeholder="Book Author" #bookAuthor>
            </div>
        </div>

    </form>
    <button class="btn btn-primary" (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">Add
        Book</button>

    <hr>

    <h3 class="mt-5 mb-3">Books List</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books$ | async">
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>
                    <button class="btn btn-sm btn-danger mx-1" (click)="removeBook(book.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>